<!DOCTYPE html>
<html>
<head>
  <title>Add User</title>
</head>
<body>
  <h1>Tambah Pengguna</h1>
  <form method="POST" action="/add-user">
    <label>Nama:</label><br>
    <input type="text" name="nama" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>
    <button type="submit">Simpan</button>
  </form>
</body>
</html>
